@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

:root{
    --element-bg: #000000;
    --main-bg: #161617;
}


/* Layout of the website */

body{
    background-color: var(--main-bg);
    margin: 0;
    overflow-x: hidden;
}

.grid{
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 80px 1.1fr 1fr;
    grid-column-gap: 50px; 

}

aside{
    grid-area: 1 / 1 / 4 / 2;
    background-color: var(--element-bg);
    border-radius: 0px 20px 20px 0px;
}

header{
    background-color: var(--element-bg);
    border-radius: 0px 0px 20px 20px;
}

.display-section{
    grid-area: 2 / 2 / 3 / 3;
    margin-top: 20px;
    background-color: var(--element-bg);
    border-radius: 20px;
    overflow: hidden;
}

.cards-section{
    grid-area: 3 / 2 / 4 / 3;
    margin-top: 20px;
}

header, .display-section, .cards-section{
    margin-right: 50px;
}

/* Styling the Cards Section */

.popular-text{
    font-size: 36px;
    color: white;
    padding-bottom: 20px;
}

.wrapper{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card-wrapper{
    height: auto;
    padding-bottom: 20px;
}

.card{
    background-color: var(--element-bg);
    width: calc(25% - 20px);
    height: 450px;
    border-radius: 20px;
}


/* --------------------- Nav bar ----------------------- */ 
.top-box{
    /**/
    background-color: #000000;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.search{
    /**/
    display: flex;
    margin-left: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
    height: 28px;
    width: 450px;
    border-radius: 16px;
    background-color: #161617;
    border: 0;
    outline: 0;
    font-display: white;

}

.browse-by{
    /**/
    color: rgb(255, 255, 255);
    margin-left: 720px;
    margin-top: -39px;
    flex-direction: row;
    font-size: 18px;
    text-align: center;
}

.genre-box{
    /**/
    position: absolute;
    color: #9747FF;
    appearance: none;
    margin-left: 850px;
    margin-top: -25px;
    background-color: #161617;
    border: 0;
    outline: 0;
    border-radius: 16px;
    height: 28px;
    width: 100px;
    text-align: center;
}

.rating{
    /**/
    position: absolute;
    color: #9747FF;
    margin-left: 970px;
    margin-top: -25px;
    appearance: none;

    background-color: #161617;
    border: 0;
    outline: 0;
    border-radius: 16px;
    height: 28px;
    width: 100px;
    text-align: center;
}

.year{
    /**/
    position: absolute;
    appearance: none;
    color: #9747FF;
    margin-left: 1090px;
    margin-top: -25px;
    background-color: #161617;
    border: 0;
    outline: 0;
    border-radius: 16px;
    height: 28px;
    width: 100px;
    text-align: center;
}

.down-icon-3{
    margin-left: 1180px;
    margin-top: -25px;
    size: 10px;
    z-index: 1;
}