@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #161617;
    background-image: url("../images/back_image.png");
    padding-top: 0px;
    margin-top: 0px;
    font-family: 'Poppins', sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-position: 0 1;
    animation: moveBackground 30s ease-in-out infinite;
}

@keyframes moveBackground {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 25% 25%;
    }
    50% {
        background-position: 50% 50%; 
    }
    75% {
        background-position: 75% 75%; 
    }
    100% {
        background-position: 0% 0%; 
    }
}


.text-taste-bud{
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 140px;
    padding: 0;
    margin: 0;
    margin-top: 0px;
    text-align: center;
    font-weight: 300;
}

.first-text{
    margin: 0px;
}

.second-text{
    margin: 0px;
}

.text-taste{
    color: white;
}

.text-bud{
    color: #9747FF;
}

.text-tagline{
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: 300;
}

.text-go_by_your{
    color: white;
}

.text-taste-alt{
    color: #9747FF;
}